.logo {
    max-width: 75px;  // Ajusta el tamaño según sea necesario
    height: auto;
    display: block;
    margin: 0 auto;  // Centra el logo horizontalmente
  }

  .login-title {
    color: darkblue;  // Color azul claro
    font-weight: bold; // Negrita
    margin: 0;         // Quitar márgenes para alineación adecuada
  }