<ion-header [translucent]="true"></ion-header>

<ion-content 
  [fullscreen]="true" 
  style="position: relative; overflow: hidden; display: flex; justify-content: center; align-items: center;">
  
  <!-- Imagen de fondo -->
  <img src="/assets/img/background.png" alt="Background" 
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" />

  <div style="width: 100%; max-width: 400px; padding: 20px; position: relative; z-index: 1; text-align: center;">
    <img src="/assets/img/logo3.png" alt="Logo" class="logo" />

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" style="margin-top: 20px;">
      <ion-item style="--background: transparent; --border-color: rgba(255, 255, 255, 0.5);">
        <ion-label position="floating" style="color: rgb(19, 18, 18);">Correo Electronico</ion-label>
        <ion-input formControlName="email" type="email" style="color: rgb(7, 7, 7);"></ion-input>
      </ion-item>

      <ion-button expand="full" class="login-button" type="submit" [disabled]="resetForm.invalid">Enviar Contraseña</ion-button>
    </form>

    <div class="button-row">
      <ion-button color="danger" (click)="logout()">Cancelar</ion-button>
    </div>
  </div>
</ion-content>
