<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/img/logo3.png" alt="Logo" class="logo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h3 class="login-title">Login</h3>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input formControlName="usuario" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div *ngIf="password?.errors?.['pattern'] && password?.touched">
      <ion-text color="danger">Password debe tener al menos 4 números, 3 caracteres y 1 letra mayúscula.</ion-text>
    </div>

    <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>

  
    <ion-button expand="full" class="login-button" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
  </form>

  <!-- Colocamos los botones uno al lado del otro dentro de un contenedor -->
  <div class="button-row">
    <ion-button class="secondary-button" (click)="irNuevoUsuario()">Nuevo Usuario</ion-button>
    <ion-button class="secondary-button" (click)="ir_restablecer()">Restablecer contraseña</ion-button>
  </div>
</ion-content>
