/* ====== Estilos para el Logo en el Header ====== */
.logo {
  max-width: 75px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la proporción del logo */
  display: block; /* Comportamiento de bloque */
  margin: 0 auto; /* Centra horizontalmente */
}

/* ====== Estilos para los Botones ====== */
.secondary-button {
  --background: #f8c231; /* Fondo amarillo */
  --color: black; /* Texto negro */
  --border-radius: 12px; /* Bordes redondeados */
  font-size: 1.2rem; /* Tamaño del texto */
  padding: 12px; /* Espaciado interno */
  margin-top: 10px; /* Margen superior */
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para relieve */
}

/* ====== Lista de Opciones ====== */
ion-list {
  background: transparent; /* Fondo transparente */
  border-radius: 12px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
}

/* ====== Estilos para el Footer ====== */
ion-footer ion-toolbar {
  background: transparent; /* Fondo transparente del footer */
}

/* ====== Ajustes Visuales ====== */
ion-item {
  --background: transparent; /* Fondo transparente */
  --border-color: rgba(255, 255, 255, 0.5); /* Borde blanco translúcido */
  color: rgb(15, 15, 15); /* Texto blanco */
}

ion-label {
  color: rgb(10, 10, 10); /* Texto blanco */
}
