/* dashboard.page.scss */

/* Estilos para el contenedor de la página */
.dashboard-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espacio entre las tarjetas */
  }
  
  /* Estilos para las tarjetas */
  ion-card {
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
  }
  
  ion-card-img {
    height: 200px; /* Ajusta la altura de la imagen según sea necesario */
    object-fit: cover; /* Ajusta la imagen para cubrir el área */
  }
  
  ion-card-content {
    font-size: 1rem;
  }
  
  ion-img {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del contenedor */
    border-radius: 10px; /* Esquinas redondeadas si es necesario */
  }
  

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ion-searchbar {
    max-width: 400px; // Ajusta según tus necesidades
  }
  
  .logo {
    max-width: 75px;  // Ajusta el tamaño según sea necesario
    height: auto;
    display: block;
    margin-left: 0;  // Alinea el logo a la izquierda
    margin-right: auto;  // Opcional: Si deseas que el logo no tenga espacio en el lado derecho
  }

