/* dashboard.page.scss */

/* Estilos para el contenedor de la página */
.dashboard-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre las tarjetas */
  background-color: #003cff; /* Color de fondo */
  /* background: url('ruta/a/tu/imagen.jpg') no-repeat center center; */ /* Fondo con imagen */
  /* background-size: cover; */ /* Asegúrate de ajustar la imagen al tamaño del contenedor */
}

  
  /* Estilos para las tarjetas */
  ion-card {
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
  }
  
  ion-card-img {
    height: 50px; /* Ajusta la altura de la imagen según sea necesario */
    object-fit: cover; /* Ajusta la imagen para cubrir el área */
  }
  
  ion-card-content {
    font-size: 1rem;
  }
  
  ion-img {
    width: 20%;
    height: auto;
    margin-bottom: 1em;
  }
  
  ion-modal {
    --border-radius: 20px;
  }
  

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
/* Estilos para la barra de búsqueda */
ion-searchbar {
  max-width: 400px; // Ajusta según tus necesidades
  --background: white; /* Color de fondo del campo de búsqueda */
}
  
.logo {
  max-width: 75px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la proporción del logo */
  display: block; /* Comportamiento de bloque */
  margin: 0 auto; /* Centra horizontalmente */
}

.custom-modal {
  --height: 50%;
  --width: 70%;
}


