<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Autorizaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crearAutorizacion()">
        Crear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let autorizacion of autorizaciones">
      <ion-label>
        <h2>Nombre: {{ autorizacion.nombre_autorizacion }}</h2>
        <p>Acción: {{ autorizacion.accion }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="modificarAutorizacion(autorizacion)">
          Modificar
        </ion-button>
        <ion-button color="danger" (click)="eliminarAutorizacion(autorizacion)">
          Eliminar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Mostrar un mensaje cuando no hay autorizaciones -->
  <div *ngIf="autorizaciones.length === 0" class="ion-padding">
    <p>No hay autorizaciones disponibles.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="back()">Volver Atrás</ion-button>
  </ion-toolbar>
</ion-footer>
