<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="crearCliente()">Crear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <ion-avatar slot="start">
        <img [src]="cliente.logo" alt="Logo" />
      </ion-avatar>
      <ion-label>
        <h2>{{ cliente.nombre }}</h2>
        <p>{{ cliente.direccion }}</p>
        <p>{{ cliente.telefono }}</p>
        <p>{{ cliente.correo }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="cargarLogo(cliente)">Logo</ion-button>
        <ion-button color="warning" (click)="editarCliente(cliente)">Editar</ion-button>
        <ion-button color="danger" (click)="eliminarCliente(cliente)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="back()">Volver Atrás</ion-button>
  </ion-toolbar>
</ion-footer>