<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank 
      <ion-button [routerLink] ="['/login']">
        go to Login
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p *ngIf="data.user.usuario">Email: {{ data.user.usuario }}</p> 

    <ion-button [routerLink] ="['/login']">
      go to Login
    </ion-button>

  </div>
</ion-content>
